<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../public/styles/style.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Page not found</title>
</head>


  <body class="errorPage">
      
    <h1>Error 404 - Page not found</h1>
    <p> so here are some random jokes about Chuck Norris</p>

    <div id="quote"></div>
    <noscript>
      <p>On the 7th day, God rested ... Chuck Norris took over.</p>
    </noscript>

  </body>
  <script src="../public/script/script.js"></script>

</html>