<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../public/styles/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <%- include('header') %>

    <h1><%= Errorcode %></h1>

    <form action="/submit" method="POST" class="form-container">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email">

        <label for="password">new Password</label>
        <input id="password" type="password" name="password1">

        <label for="comfirmPassword">comfirm Password</label>
        <input id="comfirmPassword" type="password" name="password2">

        <label for="birthday">what is your birthday</label>
        <input id="birthday" type="date" name="date">


        <label for="country">Country</label>

        <select id="country" name="country" class="form-control">
            <option value="Belgium">Belgium</option>
            <option value="Canada">Canada</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Ireland">Ireland</option>
            <option value="Italy">Italy</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Norway">Norway</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
        </select name="country">

        <button type="submit">Submit</button>
    </form>

    <%- include('footer') %>


</body>

<script src="../public/scripts/script.js"></script>

</html>