<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../public/styles/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body class="index">

    
    <%- include('header') %>
        

    <main>

        <div class="carousel-container">
            <img src="../public/upload/images/promo-god_of_war.jpeg" alt="God of war"/>
            <img src="../public/upload/images/outer-worlds-promo.webp" alt="outer-worlds"/>
            <img src="../public/upload/images/Odyssey_Keyart_Logo.webp" alt="Odyssey keyart"/>
            <img src="../public/upload/images//Hogwarts-Legacy-Harry-Potter.jpeg" alt="Hogwarts legacy"/>
          </div>

        
          <% if (typeof(session.username) !== 'undefined') { %>
            <p>Welkom <%= session.username %>!</p>
          <% } %>
        
          <p>Nog geen account? <a href="form">Registeren</a></p>

          <h2></h2>


        <ul>
            <h3>Nieuwste Games!</h3>
            
            <li><img src="../public/upload/images/animal_crossing.jpeg" alt="Animal crossing"></li>
            

            <li><img src="../public/upload/images/call-of-duty-modern-warfare-ii-cross-gen-bundle-xbox-one-xbox-series-x-s-cross-gen-bundle-xbox-one-xbox-series-x-s-spel-microsoft-store-cover.webp"
                    alt="Call-of-duty"></li>
           

            <li><img src="../public/upload/images/hogwarts-legacy-button-fin-1653421326559.jpeg" alt="Hogwarts legacy">
            </li>
            

            <li><img src="../public/upload/images/elder-scrolls-skyrim.jpeg" alt="Skyrim"></li>
            

            <li><img src="../public/upload/images/god_of_war.webp" alt="God of war"></li>
           

            <li><img src="../public/upload/images/Stray.webp" alt="Stray"></li>
            

            <li><img src="../public/upload/images/62ea4b5609372571f2736a6b.jpeg" alt="Assasins creed mirage"></li>
            

            <li><img src="../public/upload/images/EGS_ItTakesTwo_Hazelight_S2_1200x1600-5c82de2d2e21a841dd06ec27e082777e_1200x1600-5c82de2d2e21a841dd06ec27e082777e.jpeg"
                    alt="It takes two"></li>


            <ul>
    </main>


    <%- include('footer') %>
    

</body>

<script src="../public/script/script.js"></script>

</html>