<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Data</title>
</head>
<body>

    <h1>Update User Data</h1>
    <form action="/submit-updated" method="POST">
        <label for="name">Naam:</label>
        <input type="text" id="name" name="name" value="<%= user.name %>">
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>">
        
        <label for="password1">Wachtwoord:</label>
        <input type="password" id="password1" name="password1">
        
        <label for="country">Land:</label>
        <input type="text" id="country" name="country" value="<%=user.country%>">
        
        <label for="date">Geboortedatum:</label>
        <input type="date" id="date" name="date" value="<%=user.birthday%>">
        
        <button type="submit">Bewerken</button>
      </form>
      
    
    
</body>
</html>