<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../public/styles/style.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Data</title>
</head>

<body class="deletePage">

    <h1>Account deleted</h1>
    <p>go back to the homepage</p>

    <img src="../public/upload/images/sad.gif" alt="gifje">

    <a href='/'>Home</a>

</body>

</html>