<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Data</title>
</head>
<body>

    <h1>Update User Data</h1>
    <form method="POST" action="/update">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email">

      <label for="password">New Password:</label>
      <input type="password" id="password" name="password">

      <label for="country">Country:</label>
      <select id="country" name="country">
        <option value="Netherlands">Netherlands</option>
        <option value="Belgium">Belgium</option>
        <option value="Germany">Germany</option>
        <option value="France">France</option>
      </select>

      <label for="date">Birthday:</label>
      <input type="date" id="date" name="date">

      <button type="submit">Update</button>
    </form>
    
</body>
</html>