/* index page */
.index {
    font-family: 'Montserrat', sans-serif;
    background-color: #e8ddcf;
}

ul {
    list-style: none;
    margin-top: 80px;
   
    padding: 0;
}

li {
    display: inline-block;
    margin: 20px;
    position: relative;
}

li img {
    display: block;
    width: 200px;
    height: 200px;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* header */
header {
    background-color: #bba88b;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    


    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  header a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
  }

  header a:nth-last-child(){
    color: #fff;
    float: right;
    padding-right: 20px;
  }

  footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #bba88b;
        padding: 10px;

        color: #ffff;
  }
/* form page  */











